[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/nvim-lua/kickstart.nvim.git
[submodule ".oh-my-zsh/custom/plugins/zsh-autocomplete"]
	path = .oh-my-zsh/custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule ".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".oh-my-zsh/custom/themes/powerlevel10k"]
	path = .oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
